*{
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_boddy {
    margin: 20px;
    width: 20vw;
}

.task {
    list-style-type: nome;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}